*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.am_main{
  background-color: lightgrey;
  width:100vw;
  height:70vh;
}

.button1{
        z-index: 2;
        position: absolute;
        margin-top: 50vh;
        margin-left: 10vw;
       }

.button3:hover{
              background-color: red;
              }

.button2{
         z-index: 2;
         position: absolute;
         margin-top: 50vh;
         margin-left: 10vw;
        }

.button3{
         z-index: 2;
         position: absolute;
         margin-top: 50vh;
         margin-left: 10vw;
        }
.button3:hover{
        background-color: red;
}
.button2:hover{
        background-color: red;
}.button1:hover{
        background-color: red;
}
.shop{
      width:12vw;
      height: 6vh;
      border-radius: 5px;
      border:none;
      background-color: rgba(57, 48, 48, 0.6);
      color: white;
      font-weight: bold;
}
