*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.formclass{
  line-height: 1.7vw;
}
.he{
  margin-left: auto;
  margin-right: auto;
  background-color: #ffcd48;
  padding-top: 2vh;
  font-size: 1.8vw;
  margin-top: 5vh;
  width: 70vw;
  height: 5vw;
  border-radius: 3vh;
  border: .2vw solid #cc0000;
}
.order{
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
.proimg{
  margin-top: 5vw;
  height: 40vh;
  width: 60vh;
  border: .2vh solid black;
}
.formclass{
  margin-top: 5vw;
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
}
.head1{
  font-size: 3.5vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.disc{
  font-size: 2.5vh;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vw;
}
.place{
  margin-top: 10vh;
  width: 60vw;
  height: 4vw;
  background-color: #ffcd48;
  color: #cc0000;
  border:.5vh solid #cc0000;
  outline: none;
  border-radius: 10vh;
  font-weight: bold;
  font-size: 4vh;
}
